
.spaceship.zsh.zwc
.DS_Store
**/__pycache__
*.log
*-cli-read.txt
*-cli-send.txt
.zsh_plugins.zsh

# Sensitive files that should not be tracked
docker/deluge/config/ssl/
docker/deluge/config/auth
*.pkey
*.key
bin/
