[user]
	name = "Mason Tran"
{{- $userHost := printf "%s@%s" .chezmoi.username .chezmoi.hostname -}}
{{- $isWork := or (hasPrefix "usmastra" .chezmoi.username) (has $userHost .work.knownUserHosts) -}}
{{- if $isWork }}
	email = "mason.tran@lego.com"
{{- else }}
	email = "mason@Lmnotran.com"
{{- end }}
[commit]
	gpgsign = true
[pull]
	rebase = true
