
Host github-personal
    IdentityFile ~/.ssh/id_ed25519_personal

Host github-work github.com
    IdentityFile ~/.ssh/id_ed25519_work

Host github*
    User git
    IdentitiesOnly yes
    HostName github.com

# Boston LEGO CPL Hardware Lab
Host allston-st boylston-st
    User mason
    IdentityFile ~/.ssh/id_ed25519_work
