---
version: "3"
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=33
      - TZ=America/New_York
      - LETSENCRYPT_HOST=prowlarr.segfault.rip
      - VIRTUAL_HOST=prowlarr.segfault.rip
      - VIRTUAL_PORT=9696
    networks:
      - nginx-proxy
      - plex-services
    ports:
      - 9696:9696
    volumes:
      - config:/config
    restart: unless-stopped
    labels:
      - homepage.group=Media
      - homepage.name=Prowlarr
      - homepage.icon=prowlarr.png
      - homepage.href=https://prowlarr.segfault.rip/
      - homepage.description=An indexer manager/proxy

networks:
  nginx-proxy:
    external: true
  plex-services:
    external: true

volumes:
    config: {}

