---
version: "3"
services:
  tautulli:
    image: lscr.io/linuxserver/tautulli
    container_name: tautulli
    environment:
      - VERSION=latest
      - PGID=33
      - PUID=1000
      - TAUTULLI_DOCKER=True
      - TZ=America/New_York
      - LETSENCRYPT_HOST=tautulli.segfault.rip
      - VIRTUAL_HOST=tautulli.segfault.rip
      - VIRTUAL_PORT=8181
    networks:
      - traefik-proxy
    volumes:
      - config:/config
    restart: unless-stopped

networks:
  traefik-proxy:
    external: true

volumes:
  config: {}


