---
version: '3'
services:
  terraria:
    image: beardedio/terraria:tshock-latest
    container_name: terraria
    environment:
      - PUID=1000
      - PGID=33
      - TZ=America/New_York
      - UMASK_SET=002
    volumes:
      - /uhh/terraria:/config
    ports:
      - '7777:7777'
    networks:
      - nginx-proxy
    restart: unless-stopped
    tty: true
    stdin_open: true

networks:
  default:
  nginx-proxy:
    external:
      name: nginx-proxy

volumes:
  config: {}
