---
version: "3"

services:
  overseerr:
    image: linuxserver/overseerr:latest
    container_name: overseerr
    restart: unless-stopped
    environment:
      - TZ=America/New_York # Specify a timezone to use
      - PUID=1000 # User ID to run as
      - PGID=33 # Group ID to run as
      - VIRTUAL_PORT=5055
      - VIRTUAL_HOST=request.segfault.rip
      - LETSENCRYPT_HOST=request.segfault.rip
    volumes:
      - config:/config # Contains all relevant configuration files.
    ports:
      - 5055:5055/tcp # Web UI
    networks:
      - traefik-proxy
    labels:
      - homepage.group=Media
      - homepage.name=Overseerr
      - homepage.icon=overseerr.png
      - homepage.href=https://request.segfault.rip/
      - homepage.description=A request management and media discovery tool

      # Traefik
      - traefik.enable=true
      - traefik.http.routers.overseerr.rule=Host(`request.segfault.rip`)
      - traefik.http.routers.overseerr.entrypoints=websecure
      - traefik.http.routers.overseerr.tls.certresolver=letsencrypt

networks:
  traefik-proxy:
    external: true

volumes:
  config: {}
