---
version: "3"
services:
  bazarr:
    image: lscr.io/linuxserver/bazarr
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=33
      - TZ=America/New_York
      - LETSENCRYPT_HOST=bazarr.segfault.rip
      - VIRTUAL_HOST=bazarr.segfault.rip
      - VIRTUAL_PORT=6767
    networks:
      - traefik-proxy
    volumes:
      - config:/config
      - /uhh/videos/anime:/anime
      - /uhh/videos/movies:/movies
      - /uhh/videos/tv:/tv
    ports:
      - 6767:6767
    restart: unless-stopped
    labels:
      - homepage.group=Media
      - homepage.name=Bazarr
      - homepage.icon=bazarr.png
      - homepage.href=https://bazarr.segfault.rip/
      - homepage.description=A subtitle management tool

      # Traefik
      - traefik.enable=true
      - traefik.http.routers.bazarr.rule=Host(`bazarr.segfault.rip`)
      - traefik.http.routers.bazarr.entrypoints=websecure
      - traefik.http.routers.bazarr.tls.certresolver=letsencrypt

networks:
  traefik-proxy:
    external: true

volumes:
    config: {}

